<div class="flex justify-center items-center h-screen bg-slate-800">
  <div class="bg-gray-900 p-6 rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-2xl text-white mb-6">Register</h2>
    <form class="space-y-4">
      <div>
        <label for="name" class="block text-white">Name</label>
        <input [(ngModel)]="username" type="text" id="name" name="name"
          class="block w-full px-3 py-2 rounded-md bg-gray-800 text-white">
      </div>
      <div>
        <label for="name" class="block text-white">E-Mail</label>
        <input [(ngModel)]="email" type="text" id="email" name="email"
          class="block w-full px-3 py-2 rounded-md bg-gray-800 text-white">
      </div>
      <div>
        <label for="password" class="block text-white">Password</label>
        <input [(ngModel)]="password" type="password" id="password" name="password"
          class="block w-full px-3 py-2 rounded-md bg-gray-800 text-white">
      </div>
      <div>
        <button type="submit" (click)="navigateToGame()"
          class="w-full py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white rounded-md transition duration-200">Register</button>
      </div>
    </form>
  </div>
</div>