<div class="navbar">
  <div class="bg-slate-800 h-12 text-white shadow-lg flex justify-between items-center px-4">
    <a href="http://localhost:4200/game" class="logo text-2xl">Stake</a>
    <div class="flex flex-row ">
      <div class="mt-2 mr-4">100 Rs</div>
      <button class="h-10 w-14 bg-green-600 rounded-lg">Wallet</button>
    </div>
    <div class="flex items-center">
      <div class=" text-white mr-2 hidden md:block">
        <span class="ml-2">{{ userInformation["user"].stake_name.toUpperCase() }}</span>
        <!-- Replace with actual profile name -->
      </div>
      <div>
        <button (click)="logout()" class="text-white">Logout</button>
      </div>
    </div>
  </div>
</div>